<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Types...</title>
</head>

<body>
  <ul>
    <% people.forEach( person => { %>
    <li><%= person.name %></li>
    <% }) %>
  </ul>
</body>

</html>
